@page "/CreateMWO"

<PageTitle>Create New MWO</PageTitle>

<RadzenStack Orientation="Orientation.Vertical">
    <div>Create MWO</div>
    <RadzenRow>
        <RadzenColumn SizeXS="8" SizeSM="4">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenTemplateForm TItem="CreateMWORequest" Data="@Model">
                    <FluentValidationValidator @ref="_fluentValidationValidator" />
                    <RadzenFormField Text="Name" Style="width: 100%;">
                        <RadzenTextBox @bind-Value=@Model.Name AutoComplete class="w-100"
                                        Change=ChangeName Name="name" />

                     </RadzenFormField>
                     <ValidationMessage For="() => Model.Name" style="color:red; font-size:x-small;" />
                     <RadzenFormField Text="Type" Style="width: 100%;">
                         <RadzenDropDown @bind-Value=@Model.Type Data=@MWOTypeEnum.List Style="width: 100%; max-width: 400px;"
                                         Name="type" TextProperty="Name" 
                                         TValue="MWOTypeEnum" />
                     </RadzenFormField>
                     <ValidationMessage For="() => Model.Type" style="color:red; font-size:x-small;" />
                 </RadzenTemplateForm>
             </RadzenStack>
         </RadzenColumn>

     </RadzenRow>
     <RadzenRow>
         <RadzenStack Orientation="Orientation.Horizontal">
             <RadzenButton ButtonStyle=ButtonStyle.Primary ButtonType=ButtonType.Submit Click="SaveAsync">Create</RadzenButton>
             <RadzenButton ButtonStyle=ButtonStyle.Primary Variant="Variant.Outlined" Click="CancelAsync">Cancel</RadzenButton>
         </RadzenStack>

     </RadzenRow>
 </RadzenStack>

 @code {
    void ChangeName(string name)
    {
        Model.Name = name;
    }
}
